/*******************************************
Diseñado y programado por: 
Alfredo Gutierrez
Lenin Pulgar
*******************************************/

@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/BebasNeue.otf);
}

* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background: #eee;
}

/**************
    CABECERO 
***************/
header{
    background-color: black;
    color:#FFF;
    margin: 0;
    padding: 0;
    background: url('../img/header.jpg') no-repeat 100% center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
    margin-bottom: 2rem;
}

h1.titlebubba {
    font: 4.5em "Bebas Neue";
    color: #FFF;
    text-align: center;
    padding-top: 40px;
    margin: 0;
}

h3.subtitlebubba {
    font: 2em "Bebas Neue";
    text-align: center;
    color: #FFF;
    margin-bottom: 2.5rem;
}

.menu{
    padding: .0;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    font: 16px/56px 'Oswald';
}

.menu li {
    list-style-type: none;
    text-align: center;
}

.menu{
    background: rgba(1,1,1, 0.4);
}

.redes{
    position: absolute;
    top: 20px;
    right: 20px;
}

.redes ul li{
    list-style-type: none;
    float: left;
    margin-right: 5px;
}

.twitter{
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/twitter.svg) center no-repeat;
}

.facebook{
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/facebook.svg) center no-repeat;
}

/***********************
ORBIT CONTAINER (SLIDER)
***********************/

.orbit-container{
    height: 350px;
    margin: 0 0 2rem;
}

.orbit-caption {
    background-color: rgba(10, 10, 10, 0.7);
}

figcaption.orbit-caption{
    /*width: 35%;*/
    max-width: 400px;
    height: 25%;
}

figcaption.orbit-caption h4{
    color: white;
    margin: 0;
}

figcaption.orbit-caption span{
    font-size: .9em;
}

/********
NOTICIAS
********/
.news{
    padding: 0 15px;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 2rem;
}

.news h3{
    color: #FFF;
}

.news h4{
    margin: 10px;
    color:#FFF;
}

.news .button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: rgb(64,153,213);
    font-weight: bold;
}

.news .button-container {
    text-align: right;
    margin-top: 1.5em;
}

.news .button-container2 {
    text-align: left;
    margin-top: 1.5em;
}

.news .row{
    position: relative;
    height: 100%;
}

.left1 {
    background-color: rgb(0,119,200);
    min-height: 300px;
    position:relative;
    padding: 2em;
}

.right1 {
    background: url(../img/ZMM_1933.jpg) no-repeat right center;
    background-size: cover;
    min-height: 100%; !important
    height: auto;
}

.left2 {
    background: url(../img/ZMM_1947.jpg) no-repeat right center;
    background-size: cover;
    min-height: 100%;
    height: 100%;
}

.right2 {
    background-color: rgb(0,119,200);
    min-height: 300px;
    position:relative;
    padding: 2em;
}

/*********
ABOUT****
********/

.about{
    margin-bottom: 20px;
    font-size: 0.9em;
}

.captain {
    background-color: #FFF;
    padding: 0;
    padding-right:10px;
}

.left3{
    display: block;
    width: 100%;
    height: 180px;
    /*margin-left: -15px;*/
    /*min-width: 500px;*/
    background: url(../img/ZMM_1947.jpg) no-repeat center;
}

.tijereta{
    background-color:#FFF;
    padding: 0;
}

.right3{
    display: block;
    width: 100%;
    height: 180px;
    /*margin-left: -15px;*/
    /*min-width: 500px;*/
    background: url(../img/tijereta.jpg) no-repeat center;
}

.panel{
    border-right: 10px solid rgb(238,238,238);
}

.panel2{
    border-left: 10px solid rgb(238,238,238);
    margin-left: -11px;
}

.texto{
    padding:20px;
}

.captain .button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: rgb(64,153,213);
    font-weight: 600;
    font-size: 0.9em;
}

.tijereta .button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: rgb(64,153,213);
    font-weight: 600;
    font-size: 0.9em;
}

.about h4{
    margin-top:20px;
}


/*************
FISHING REPORT
*************/

.report{
    background-color:#FFF;
    margin-bottom:20px;
    font-size: 0.9em;
    position: relative;
}

.reportr{
    padding:20px;
}

.report .button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: rgb(64,153,213);
    position:absolute;
    right:2%;
    bottom: 0;
    font-weight: 600;
    font-size: 0.9em;
}

/*********
NEWSLETTER
**********/

.newsletter{
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
}

.newsletter input{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
}

.newsletter .button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: rgb(64,153,213);
    font-weight: 600;
    font-size: 0.9em;
}

.newsletter .ss-icon.input{
    position: absolute;
    margin-top: .5em;
    margin-left: 1em;
    color: #ccc;
}

.newsletter input{
    padding-left: 2.5em;
}

/**********
LETS DO IT!
***********/

.letsdoit{
    background-color: rgb(0,119,200);
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
    padding: 30px;
}

.letsdoit h2{
    color:#FFF;
    font-weight: 600;
}

.letsdoit .button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: #FFF;
    font-weight: 600;
    font-size: 1em;
    color: rgb(64,153,213);
}

.letsdoit a{
    font-weight: 800;
}

/****
FORM
****/
.ss-send{
    color:rgb(0,119,200);
    font-size: 5em;
    margin: 15px 0 0 15px;
}

/*****
FOOTER
******/

footer{
    background-color:rgb(51,51,51);
    color: #FFF;
    font-size:0.8em;
    padding:20px;
}

footer h3{
    color:#FFF;
}

footer ul {
    list-style: none;
    padding:0;
    margin:0;
}

footer li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

footer a{
    color:#FFF;
}

footer li:before {
    content: "• ";
    color: rgb(74,152,218); /* or whatever color you prefer */
    font-size:1rem;
}

.redesf{
    font-size: 1.5em;
    color: rgb(74,152,218);
}

.redesf span{
    margin-left: 0.7rem;
}

/*******************
GENERALES
*******************/
.limpiar{
    clear: both;
}

.graycontainer{
    background-color:rgb(238,238,238);
    /*padding:20px 20px 0 20px;*/
    font-family: 'Open Sans';
    min-height: 100%;
    height: 100%;
}

.graycontainer h3{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.5em;
}

.graycontainer h4{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size:16px;
}
hr.style-one {
    border: 0;
    height: 2px;
    background: rgb(68,68,68);
}